.icon{
  // inProgress
  &-Call2 {
    background: url('./assets/img/Call2.svg') center center no-repeat;
  }
  // historic
  &-Atendimento_telefone {
    background: url('./assets/img/atendimento_telefone.svg') center center no-repeat;
  }

  &-3dots {
    background: url('./assets/img/3dots.svg') center center no-repeat;
  }

  &-Partner-registration {
    background: url('./assets/img/partner-registration.svg') center center no-repeat;
  }

  &-Attanch {
    background: url('./assets/img/Attanch.svg') center center no-repeat;
  }

  &-Attention {
    background: url('./assets/img/Attention.svg') center center no-repeat;
  }

  &-Barcode {
    background: url('./assets/img/Barcode.svg') center center no-repeat;
  }

  &-Calendar {
    background: url('./assets/img/Calendar.svg') center center no-repeat;
  }

  &-CalendarBlack{
    background: url('./assets/img/CalendarBlack.svg') center center no-repeat;
  }

  &-Call, &-ATEND_TELEFONE {
    background: url('./assets/img/Call.svg') center center no-repeat;
  }
  &-Cell {
    background: url('./assets/img/Cell.svg') center center no-repeat;
  }

  &-CHAT, &-NOTA_ATEND {
    background: url('./assets/img/Chat.svg') center center no-repeat;
  }

  &-Check {
    background: url('./assets/img/Check.svg') center center no-repeat;
  }

  &-Close {
    background: url('./assets/img/Close.svg') center center no-repeat;
  }

  &-Edit2 {
    background: url('./assets/img/Edit2.svg') center center no-repeat;
  }

  &-Edit_RED {
    background: url('./assets/img/Edit_red.svg') center center no-repeat;
  }

  &-Energy {
    background: url('./assets/img/Energy.svg') center center no-repeat;
  }

  &-Energy22 {
    background: url('./assets/img/Energy22.svg') center center no-repeat;
  }

  &-Exit {
    background: url('./assets/img/Exit.svg') center center no-repeat;
  }

  &-Falta {
    background: url('./assets/img/Falta.svg') center center no-repeat;
  }

  &-DoubleFile {
    background: url('./assets/img/double-file-alt-regular.svg') center center no-repeat;
  }

  &-Laptop{
    background: url('./assets/img/Laptop.svg') center center no-repeat;
  }

  &-Mais {
    background: url('./assets/img/mais.svg') center center no-repeat;
  }

  &-Mais2 {
    background: url('./assets/img/Mais2.svg') center center no-repeat;
  }

  &-Money {
    background: url('./assets/img/Money.svg') center center no-repeat;
  }
// Ao receber o icone da Fjord mudar a rota.
  &-Coin {
    background: url('./assets/img/Money.svg') center center no-repeat;
  }

  &-NewYear {
    background: url('./assets/img/NewYear.svg') center center no-repeat;
  }

  &-NotFound {
    background: url('./assets/img/NotFound.svg') center center no-repeat;
  }

  &-Online {
    background: url('./assets/img/Online.svg') center center no-repeat;
  }

  &-Online2 {
    background: url('./assets/img/Online2.svg') center center no-repeat;
  }

  &-Paper {
    background: url('./assets/img/Paper.svg') center center no-repeat;
  }

  &-Plus2 {
    background: url('./assets/img/Plus2.svg') center center no-repeat;
  }

  &-Printer, &-IMPRESSAO {
    background: url('./assets/img/Printer.svg') center center no-repeat;
  }

  &-Search {
    background: url('./assets/img/Search.svg') center center no-repeat;
  }

  &-Street {
    background: url('./assets/img/Street.svg') center center no-repeat;
  }

  &-Talk {
    background: url('./assets/img/Talk.svg') center center no-repeat;
  }

  &-Telefone {
    background: url('./assets/img/Telefone.svg') center center no-repeat;
  }

  &-Three {
    background: url('./assets/img/Three.svg') center center no-repeat;
  }

  &-Time {
    background: url('./assets/img/Time.svg') center center no-repeat;
  }

  &-Tranf {
    background: url('./assets/img/Tranf.svg') center center no-repeat;
  }

  &-Truck, &-NOTA_SERVICO {
    background: url('./assets/img/Truck.svg') center center no-repeat;
  }

  &-Trash {
    background: url('./assets/img/Trash.svg') center center no-repeat;
  }

  &-User, &-ATEND_PRESENCIAL {
    background: url('./assets/img/User.svg') center center no-repeat;
  }

  &-Userr {
    background: url('./assets/img/Userr.svg') center center no-repeat;
  }
  &-Atividade, &-ATIVIDADE {
    background: url('./assets/img/Atividade.svg') center center no-repeat;
  }

  &-Ordem_venda, &-ORDEM_VENDA {
    background: url('./assets/img/Ordem_venda.svg') center center no-repeat;
  }

  &-Email, &-ATEND_EMAIL{
    background: url('./assets/img/Email.svg') center center no-repeat;
  }

  &-BuscaRed {
    background: url('./assets/img/BuscaRed.svg') center center no-repeat;
  }
}
