.main{
  min-height: 900px !important;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  margin-bottom: 40px;
  li {
    float: left;
    a {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;
      &:hover {
        background-color: #111111;
      }
    }
  }
}
